@model PayPadAdministrator.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Verificar Usuario";
}

<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class=" card-box">
        <div class="panel-heading">
            <h3 class="text-center"> @ViewBag.Title </h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("ForgotPassword", "Account", new { }, FormMethod.Post, new { @class = "text-center", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        ×
                    </button>
                    Ingresa tu <b> usuario </b> y se enviará un correo con la contraseña!
                </div>
                <div class="form-group m-b-0">
                    <div class="input-group">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "ingresa el usuario" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        <span class="input-group-btn">
                            <button type="submit" style="padding: 27px;" class="btn btn-default w-sm waves-effect waves-light">
                                Enviar
                            </button>
                        </span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>