@model PayPlusModels.PayPad

@{
    ViewBag.Title = "Editar Pay+";
}


<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="m-t-0 header-title"><b>@ViewBag.Title</b></h4>
                    @using (Html.BeginForm("EditPayPad", "PayPads", new { }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.PAYPAD_ID)
                        @Html.HiddenFor(model => model.IMAGE)
                        @Html.HiddenFor(model => model.STATE)

                        <div class="form-group">
                            @Html.LabelFor(model => model.NAME, htmlAttributes: new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DESCRIPTION, htmlAttributes: new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.DESCRIPTION, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DESCRIPTION, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.LONGITUDE, htmlAttributes: new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.LONGITUDE, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LONGITUDE, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.LATITUDE, htmlAttributes: new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.LATITUDE, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LATITUDE, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CUSTOMER_ID, htmlAttributes: new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.DropDownList("CUSTOMER_ID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CUSTOMER_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.OFFICE_ID, htmlAttributes: new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.DropDownList("OFFICE_ID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.OFFICE_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CURRENCY_ID, htmlAttributes: new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.DropDownList("CURRENCY_ID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CURRENCY_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-group label-floating">
                                @Html.LabelFor(model => model.ImagePathFile, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    <div class="file-input-new">
                                        <div class="input-group">
                                            <div tabindex="500" class="form-control file-caption">
                                                <div class="file-caption-name" id="NombreArchivoResponse">
                                                </div>
                                            </div>
                                            <div class="input-group-btn" style="height:auto">
                                                <div tabindex="500" class="btn btn-info btn-file">
                                                    <i class="glyphicon glyphicon-folder-open"></i>
                                                    File Search...
                                                    @Html.TextBoxFor(modelo => modelo.ImagePathFile, new { type = "file", id = "ImagePathFile" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group m-b-0">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-info waves-effect waves-light">Crear</button>
                                <a href="@Url.Action("Index")" class="btn btn-default waves-effect waves-light">
                                    <i class="fa fa-mail-reply m-r-5"></i> <span>Átras</span>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $("#CUSTOMER_ID").change(function(){
            var customerId = $("#CUSTOMER_ID").val();
            $("#OFFICE_ID").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetOffice","Generic")',
                dataType: 'json',
                data: {customerId : customerId},
                success: function (data) {
                    if (data.CodeError == 200) {
                        $.each(data.Data, function (i, data) {
                            $("#OFFICE_ID").append('<option value="'
                                + data.OFFICE_ID + '">'
                                + data.NAME + '</option>');
                        });
                    } else {
                        ModalMessageError("Error", data.Message);
                    }
                },
                error: function (ex) {
                    ModalMessageError("Error", 'Failed ' + ex.responseText);
                }
            });
        });
    </script>
}