@model IEnumerable<PayPlusModels.SP_GET_CHARGE_DATA_Result>

@{
    Layout = null;
}

@using Newtonsoft.Json;
@{

    PayPadAdministrator.Helpers.EncryptionHelper encryptionHelper = new PayPadAdministrator.Helpers.EncryptionHelper();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
  
</head>
<body>
    <table class="table table-striped table-bordered display nowrap">
        <tr>
            <td colspan="2" align="center">
                <label><strong>Registrar nuevos valores para los dispositivos dispensadores de efectivo</strong></label>
            </td>
        </tr>
        <tr>
            <th data-field="logo">
                Denominación
            </th>
            <th>
                Nueva Cantidad
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.IMAGE != null)
                    {
                        var base64 = Convert.ToBase64String(item.IMAGE);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        <img src="@imgSrc" alt="Image" style="width:80px; height: auto;" />
                    }
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.STACKER_QUANTITY, new { htmlAttributes =
                   new { @class = "form-control tochpinPrueba",
                       @VAL = encryptionHelper.EncryptString(item.VALUE.ToString()) ,
                       @CDI= encryptionHelper.EncryptString(item.CURRENCY_DENOMINATION_ID.ToString()),
                       @DPDI = encryptionHelper.EncryptString(item.DEVICE_PAYPAD_DETAIL_ID.ToString()),
                       @DPI = encryptionHelper.EncryptString(item.DEVICE_PAYPAD_ID.ToString())
                   } })
                    @Html.ValidationMessageFor(modelItem => item.STACKER_QUANTITY, "", new { @class = "text-danger" })
                </td>

            </tr>
        }
            <tr>

                <td>
                    @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control select2" })
                </td>
                <td>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="ckActiveArching">
                        <label class="form-check-label" for="materialUnchecked">¿Activar Modo Cargue?</label>
                    </div>
                    @* @Html.CheckBox("ckActiveArching", false, htmlAttributes = new { @class = "form-control tochpinPrueba",@text="hola" })*@
                </td>
            </tr>
        <tr>
            <td colspan="2" align="center">
                <button type="button" onclick="SetCharge(@ViewBag.PayPadId)" class="btn btn-info waves-effect waves-light">Guardar</button>
            </td>
        </tr>

    </table>
</body>
</html>


<script type="text/javascript">


    function SetCharge(paypadId) {
        var state = true;
        var DataDenominations=new Array();
        var userId = $("#UserId").find('option:selected').val()
        debugger
            $("input[type='number']").each(function () {
                if ($(this).val() == "") {
                    state = false;
                } else {
                    var obj = {
                        QUANTITY: $(this).val(),
                        CURRENCY_DENOMINATION_ID: $(this).attr('CDI'),
                        vALUE: $(this).attr('VAL'),
                        DEVICE_PAYPAD_DETAIL_ID: $(this).attr('DPDI'),
                        DEVICE_PAYPAD_ID: $(this).attr('DPI')
                    };
                    DataDenominations.push(obj);
                }
        });

        if (!state) {
            ModalMessageError("Error", "Todos los campos son requeridos");
            return;
        }

        if (userId=="0") {
            ModalMessageError("Error", "Debe seleccionar un usuario responsable");
            return;
        }
        
           var request = {
               DataDenominations: DataDenominations,
               pAYPAD_ID: paypadId,
               uSER_ID: userId,
               ActiveArching: $("#ckActiveArching").is(':checked')
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SetChargeData", "PayPads")',
                dataType: 'json',
                data: request,
                success: function (data) {
                    if (data.CodeError == 200) {
                        ModalMessageSuccess("Exitoso", data.Message);
                        location.reload();
                    } else {
                        ModalMessageError("Error", data.Message);
                        location.reload();
                    }
                },
                error: function (ex) {
                    ModalMessageError("Error", 'Failed ' + ex.responseText);
                    location.reload();
                }
            });
        }
</script>
