@model PayPadAdministrator.Models.DevicesForPayPadViewModel

@{

    ViewBag.Title = "Dispositivo por Pay+";
}


<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>@Model.PayPad.NAME</b></h4>
            <p class="text-muted font-18">
                <a href="@Url.Action("CreateTypeCustomers")" class="btn btn-default waves-effect waves-light">
                    <i class="fa fa-plus-circle m-r-5"></i> <span>Asignar Nuevo</span>
                </a>
            </p>

            <table data-toggle="table"
                   data-show-columns="false"
                   data-page-list="[5, 10, 20]"
                   data-page-size="5"
                   data-pagination="true" data-show-pagination-switch="true" class="table-bordered ">
                <thead>
                    <tr>
                        <th data-field="id">
                           ID
                        </th>
                        <th data-field="Serial">
                           Serial
                        </th>
                        <th data-field="Name">
                            Nombre
                        </th>
                        <th data-field="description">
                            Descripción
                        </th>
                        <th data-field="Brand">
                            Marca
                        </th>
                        <th data-field="Estado">
                            Estado
                        </th>
                        <th data-field="administrator" class="text-center">Adminitración</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Devices)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DEVICE_ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SERIAL)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DESCRIPTION)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BRAND)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.STATE)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>