@model IEnumerable<PayPadAdministrator.Models.PayPad>

@{
    ViewBag.Title = "Pay +";
}

<h2>@ViewBag.Title </h2>

<link href="~/Scripts/plugins/magnific-popup/dist/magnific-popup.css" rel="stylesheet" />

<p>
    <a href="@Url.Action("CreatePayPad")" class="btn btn-default waves-effect waves-light">
        <i class="fa fa-plus-circle m-r-5"></i> <span>Crear Nuevo</span>
    </a> 
</p>

<div class="row port">
    <div class="portfolioContainer m-b-15">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-lg-3 col-md-4 mobiles">
                <div class="product-list-box thumb">
                    @if (item.IMAGE != null)
                    {
                        var base64 = Convert.ToBase64String(item.IMAGE);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        <a href="@imgSrc" class="image-popup" title="@item.NAME">
                            <img src="@imgSrc" class="thumb-img" alt="work-thumbnail">
                        </a>
                    }
                    <div class="product-action">
                        <a href="#" class="btn btn-success btn-sm"><i class="md md-mode-edit"></i></a>
                        <a href="#" class="btn btn-danger btn-sm"><i class="md md-close"></i></a>
                    </div>

                    <div class="detail">
                        <h4 class="m-t-0 m-b-5"><a href="" class="text-dark">@item.NAME</a> </h4>
                        <h5 class="m-0"><span class="text-custom">1</span> <span class="text-muted m-l-15"> @item.OFFICE_NAME</span></h5>
                        <h5 class="m-0 text-dark"><i class="md md-business m-r-10"></i><small>@item.CUSTOMER_NAME</small></h5>
                        <h5 class="m-0 text-dark"><i class="md md-business m-r-10"></i><small>@item.OFFICE_ADDRESS</small></h5>

                        <ul class="social-links list-inline m-0">
                            <li>
                                <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Ver trámites"><i class="fa fa-book"></i></a>
                            </li>
                            <li>
                                <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Asignar Trámite"><i class="fa fa-server"></i></a>
                            </li>
                            <li>
                                <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Administrar pantalla"><i class="fa fa-desktop"></i></a>
                            </li>
                            <li>
                                <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Alarma"><i class="fa fa-calendar"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@Scripts.Render("~/bundles/PopUp")

