@model PayPlusModels.DeviceDetailViewModel
@using Newtonsoft.Json;
@{

    PayPadAdministrator.Helpers.EncryptionHelper encryptionHelper = new PayPadAdministrator.Helpers.EncryptionHelper();
}
<p>
    <a href="javascript:history.back();" class="btn btn-default waves-effect waves-light">
        <i class="fa fa-mail-reply m-r-5"></i> <span>Átras</span>
    </a>
</p>
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card-box m-b-10">
                        <div class="table-box opport-box">
                            <div class="table-detail">
                                @if (Model.Device.IMAGE != null)
                                {
                                    var base64 = Convert.ToBase64String(Model.Device.IMAGE);
                                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                    <img src="@imgSrc" alt="img" class="thumb-lg m-r-15">
                                }
                            </div>

                            <div class="table-detail">
                                <div class="member-info">
                                    <h4 class="m-t-0"><b>@Model.Device.NAME </b></h4>
                                    <p class="text-dark m-b-5"><b>Descripción: </b> <span class="text-muted">@Model.Device.DESCRIPTION</span></p>
                                    <p class="text-dark m-b-5"><b>Cantidad Máxima Baúl: </b> <span class="text-muted">@Model.DevicePayPad.MAX_CASHBOX_QUANTITY</span></p>
                                    <p class="text-dark m-b-5"><b>Cantidad Máxima Disponibles: </b> <span class="text-muted">@Model.DevicePayPad.MAX_STACKER_QUANTITY</span></p>
                                </div>
                            </div>

                            <div class="table-detail lable-detail">

                            </div>

                            <div class="table-detail">

                            </div>

                            <div class="table-detail table-actions-bar">
                                @if (User.IsInRole("SuperAdmin"))
                                {
                                    <a href="@Url.Action("AssingDetailsDevice",new { data=encryptionHelper.EncryptString(string.Concat(Model.DevicePayPad.DEVICE_PAYPAD_ID,",",Model.DevicePayPad.PAYPAD_ID,",",Model.Device.NAME)) })" class="table-action-btn"><i class="md md-edit"></i></a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="row">
                <table data-toggle="table"
                       data-show-columns="false"
                       data-page-list="[5, 10, 20]"
                       data-page-size="10"
                       data-pagination="true" data-show-pagination-switch="true" class="table-bordered ">
                    <thead>
                        <tr>
                            <th data-field="logo">
                                Denominación
                            </th>
                            <th data-field="cashboxquantity">
                                Cantidad Baúl
                            </th>
                            <th data-field="cashboxtotal">
                                Total Baúl
                            </th>
                            <th data-field="stacketquantity">
                                Cantidad Disponible
                            </th>
                            <th data-field="stacketotal">
                                Total Disponible
                            </th>
                            <th data-field="mini">
                                Mínimo Disponible
                            </th>
                            <th data-field="Administracion">Administración</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DevicePayPadDetails)
                        {
                            <tr>
                                <td>
                                    @if (item.CURRENCY_IMAGE != null)
                                    {
                                        var base64 = Convert.ToBase64String(item.CURRENCY_IMAGE);
                                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                        <img src="@imgSrc" alt="Image" style="width:80px; height: auto;" />
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CASHBOX_QUANTITY)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TOTAL_CASHBOX)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.STACKER_QUANTITY)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TOTAL_STACKER)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MIN_STACKER_QUANTITY)
                                </td>
                                <td>
                                    <ul class="social-links list-inline m-0">
                                        <li>
                                            <a title="Editar Cantidad" data-placement="top"
                                               data-toggle="tooltip" class="tooltips"
                                               href="javascript:void(0)"
                                               onclick="EditQuantity(@JsonConvert.SerializeObject(item))"
                                               data-original-title="Editar Cantidad"><i class="fa fa-plus-circle"></i></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        function EditQuantity(json) {
                var title = "Crear SubMódulo";
                $('#Details .modal-title').html(title);
                var url = '@Url.Action("EditQuantitiesDevicePayPad")';
                if (url.indexOf('#') == 0) {
                    $('#Details').modal('show');
                }
                else {
                    $.post(url,json, function (data) {
                        $('#Details .te').html(data);
                        $('#Details').modal();
                    }).success(function () {

                        $('input:text:visible:first').focus();
                        $(".tochpinPrueba").TouchSpin({
                            min: 0
                        });

                    });
                }
        }
    </script>
}

<div class="modal fade" id="Details" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" style="width: 970px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body"><div class="te">Please wait...</div></div>
        </div>
    </div>
</div>