@model IEnumerable<PayPadAdministrator.Models.Transaction_Type>

@{
    ViewBag.Title = "Trámites";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>@ViewBag.Title</b></h4>
            <p class="text-muted font-18">
                <a href="@Url.Action("CreateTransact")" class="btn btn-default waves-effect waves-light">
                    <i class="fa fa-plus-circle m-r-5"></i> <span>Crear Nuevo</span>
                </a>
            </p>
            <table data-toggle="table"
                   data-show-columns="false"
                   data-page-list="[5, 10, 20]"
                   data-page-size="5"
                   data-pagination="true" data-show-pagination-switch="true" class="table-bordered ">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TRANSACTION_TYPE_ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DESCRIPTION)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.STATE)
                        </th>
                        <th>Administración</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TRANSACTION_TYPE_ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DESCRIPTION)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.STATE)
                            </td>
                            <td>
                                <a title="Editar Cliente" data-placement="top"
                                   data-toggle="tooltip" class="tooltips"
                                   href="@Url.Action("EditTransact",new { id = item.TRANSACTION_TYPE_ID})"
                                   data-original-title="Editar"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>