@model IEnumerable<PayPlusModels.LogDevice>

@{
    ViewBag.Title = "Log de Dispositivo";
}



<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>@ViewBag.Title</b></h4>
            <p class="text-muted font-18">
                <a href="@Url.Action("GetAlarmForPaypad","Alarms", new { id = ViewBag.DeviceId })" class="btn btn-default waves-effect waves-light">
                    <i class="fa fa-mail-reply m-r-5"></i> <span>Átras</span>
                </a>
            </p>
            <table data-toggle="table"
                   data-show-columns="false"
                   data-page-list="[5, 10, 20]"
                   data-page-size="10"
                   data-pagination="true" data-show-pagination-switch="true" class="table table-bordered ">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.PAYPAD_NAME)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DEVICE_NAME)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TRANSACTION_ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DESCRIPTION)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DATETIME)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PAYPAD_NAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DEVICE_NAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TRANSACTION_ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DESCRIPTION)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DATETIME)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>