@model IEnumerable<PayPlusModels.Customer>
@{
    ViewBag.Title = "Patrocinadores";
}

<h2>@ViewBag.Title</h2>

<!--Basic Columns-->
<!--===================================================-->

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>@ViewBag.Title</b></h4>
            <p class="text-muted font-18">                
                <a href="@Url.Action("CreateCustomer")" class="btn btn-default waves-effect waves-light">
                    <i class="fa fa-plus-circle m-r-5"></i> <span>Crear Nuevo</span>
                </a>
            </p>

            <table data-toggle="table"
                   data-show-columns="false"
                   data-page-list="[5, 10, 20]"
                   data-page-size="5"
                   data-pagination="true" data-show-pagination-switch="true" class="table-bordered ">
                <thead>
                    <tr>
                        <th data-field="id" data-switchable="false">ID</th>
                        <th data-field="name" data-switchable="false">Nombre</th>
                        <th data-field="nit">NIT</th>
                        <th data-field="image">Imagen</th>
                        <th data-field="email">Email</th>
                        <th data-field="country">Pais</th>
                        <th data-field="client-status" class="text-center">Estado</th>
                        <th data-field="administrator" class="text-center">Adminitración</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.CUSTOMER_ID)</td>
                            <td>@Html.DisplayFor(modelItem => item.NAME)</td>
                            <td>@Html.DisplayFor(modelItem => item.NIT)</td>
                            <td>
                                @if (item.ICON != null)
                                {
                                    var base64 = Convert.ToBase64String(item.ICON);
                                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                    <img src="@imgSrc" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
                                }
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.EMAIL)</td>
                            <td>
                                @if (item.LOCATION_ID == 1)
                                {
                                    <img src="~/Content/Logos/Flag_of_Colombia.png" alt="Image" style="width:40px;max-width: 100%" />
                                }
                                else
                                {
                                    <img src="~/Content/Logos/mexico.png" alt="Image" style="width:40px;max-width: 100%" />
                                }
                            </td>

                            <td>
                                @if (item.STATE)
                                {
                                    <span class="label label-table label-success">Active</span>
                                }
                                else
                                {
                                    <span class="label label-table label-danger">Suspended</span>
                                }
                            </td>
                            <td>
                                <ul class="social-links list-inline m-0">
                                    <li>
                                        <a title="Mostrar Clientes" data-placement="top"
                                           data-toggle="tooltip" class="tooltips"
                                           href="@Url.Action("SponsorToClients",new { id = item.CUSTOMER_ID})"
                                           data-original-title="Mostrar Clientes"><i class="fa fa-institution"></i></a>
                                    </li>
                                    <li>
                                        <a title="Mostrar oficinas" data-placement="top" data-toggle="tooltip" class="tooltips" href="@Url.Action("ShowOfficeForCustomer",new { id=item.CUSTOMER_ID })" data-original-title="Mostrar oficinas"><i class="fa fa-industry"></i></a>
                                    </li>
                                    <li>
                                        <a title="Asignar Menú" data-placement="top"
                                           data-toggle="tooltip" class="tooltips"
                                           href="@Url.Action("AssingModuleToCustomer","Modules",new { id = item.CUSTOMER_ID})"
                                           data-original-title="Asignar Menú"><i class="fa fa-object-group"></i></a>
                                    </li>
                                    <li>
                                        <a title="Editar Cliente" data-placement="top"
                                           data-toggle="tooltip" class="tooltips"
                                           href="@Url.Action("EditCustomer",new { id = item.CUSTOMER_ID})"
                                           data-original-title="Editar Cliente"><i class="fa fa-edit"></i></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}