@model IEnumerable<PayPadAdministrator.Models.CustomerType>

@{
    ViewBag.Title = "Tipo de Clientes";
}
<p>
    <a href="@Url.Action("CreateTypeCustomers")" class="btn btn-default waves-effect waves-light"> 
    <i class="fa fa-plus-circle m-r-5"></i> <span>Crear Nuevo</span> </a>    
</p>

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>@ViewBag.Title</b></h4>
            <table data-toggle="table"
                   data-show-columns="false"
                   data-page-list="[5, 10, 20]"
                   data-page-size="5"
                   data-pagination="true" data-show-pagination-switch="true" class="table-bordered ">
                <thead>
                    <tr>
                        <th data-field="@Html.DisplayNameFor(model => model.CUSTOMER_TYPE_ID)" data-switchable="false">@Html.DisplayNameFor(model => model.CUSTOMER_TYPE_ID)</th>
                        <th data-field="@Html.DisplayNameFor(model => model.DESCRIPTION)">@Html.DisplayNameFor(model => model.DESCRIPTION)</th>
                        <th data-field="@Html.DisplayNameFor(model => model.STATE)" class="text-center">@Html.DisplayNameFor(model => model.STATE)</th>
                        <th data-field="Adminitration" class="text-center">Administración</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CUSTOMER_TYPE_ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DESCRIPTION)
                            </td>
                            <td>
                                @if (item.STATE)
                                {
                                    <span class="label label-table label-success">Active</span>
                                }
                                else
                                {
                                    <span class="label label-table label-danger">Suspended</span>
                                }                                
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |                                
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>