<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @if (User.Identity.IsAuthenticated)
    {
        @Styles.Render("~/Content/DatePicker")
        @Styles.Render("~/Content/css")
    }
    else
    {
        @Styles.Render("~/Content/Login")
    }

    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <div id="wrapper">
            <!-- Top Bar Start -->
            <div class="topbar">
                <!-- LOGO -->
                <div class="topbar-left">
                    <div class="text-center">
                        <a href="@Url.Action("Index","Home")" class="logo">
                            @{ Html.RenderAction("GetDataLogoCustomer", "Account");}
                        </a>
                    </div>
                </div>
                <!-- Button mobile view to collapse sidebar menu -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <div class="">
                            <div class="pull-left">
                                <button class="button-menu-mobile open-left">
                                    <i class="ion-navicon"></i>
                                </button>
                                <span class="clearfix"></span>
                            </div>
                            <ul class="nav navbar-nav navbar-right pull-right">

                                @{ Html.RenderAction("GetTenNotificstions", "Notifications");}

                                <li class="hidden-xs">
                                    <a href="#" id="btn-fullscreen" class="waves-effect waves-light"><i class="icon-size-fullscreen"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true">
                                        @{ Html.RenderAction("GetPhotoProfile", "Account");}
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("ProfileUser","Account")"><i class="ti-user m-r-5"></i> Perfil</a></li>
                                        <li><a href="javascript:void(0)"><i class="ti-settings m-r-5"></i> Configuración</a></li>
                                        <li>
                                            <a href="@Url.Action("LogOut","Account")">
                                                <i class="ti-power-off m-r-5"></i>Cerrar Sesión
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->

            <div class="left side-menu">

                <div class="sidebar-inner slimscrollleft">
                    <!--- Divider -->


                    @{ Html.RenderAction("GetModule", "Account"); }
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="page-title">@ViewBag.Title</h4>
                            @Html.MvcSiteMap().SiteMapPath("Breadcrumbs")
                        </div>
                    </div>

                    <!-- Contenido -->

                    @RenderBody()
                </div>
            </div>
        </div>
        <footer class="footer text-right">
            Copyright © @DateTime.Now.Year <a class="text-success" href="http:\\www.e-city.mx" target="_blank">E-City</a>
            <input type="hidden" id="ModuleID" value="@TempData["ModuleID"]" />
        </footer>
    }
    else
    {
        @RenderBody()
    }


    @Scripts.Render("~/bundles/jquery")
    @if (User.Identity.IsAuthenticated)
    {
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/PopUp")
        @Scripts.Render("~/bundles/DatePicker")
    }
    else
    {
        @Scripts.Render("~/bundles/Login")
    }

    <script>
        var resizefunc = [];
        window.onload = function(){
            $('[data-toggle="tooltip"]').tooltip();
            $(".select2").select2();
        };
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
