@model PayPlusModels.UserViewModel

@{
    ViewBag.Title = "Crear Usuario";
}


<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="m-t-0 header-title"><b>@ViewBag.Title</b></h4>
                    @using (Html.BeginForm("EditUser", "Users", new { }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model =>model.USER_ID)
                        @Html.HiddenFor(model =>model.CUSTOMER_ID)
                        @Html.HiddenFor(model =>model.USERNAME)                        
                        @Html.HiddenFor(model =>model.IMAGE)
                        @Html.HiddenFor(model =>model.PASSWORD)
                        @Html.HiddenFor(model =>model.STATE)

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IDENTIFICATION, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.IDENTIFICATION, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.IDENTIFICATION, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NAME, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ROLE_ID, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-9">
                                        @Html.DropDownList("ROLE_ID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ROLE_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.USERNAME, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.USERNAME, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.USERNAME, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EMAIL, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PHONE, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.PHONE, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PHONE, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.ImagePathFile, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                        <div class="col-sm-9">
                                            <div class="file-input-new">
                                                <div class="input-group">
                                                    <div tabindex="500" class="form-control file-caption">
                                                        <div class="file-caption-name" id="NombreArchivoResponse">
                                                        </div>
                                                    </div>
                                                    <div class="input-group-btn" style="height:auto">
                                                        <div tabindex="500" class="btn btn-info btn-file">
                                                            <i class="glyphicon glyphicon-folder-open"></i>
                                                            File Search...
                                                            @Html.TextBoxFor(modelo => modelo.ImagePathFile, new { type = "file", id = "ImagePathFile" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-0">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button type="submit" class="btn btn-info waves-effect waves-light">Guardar</button>
                                        <a href="@Url.Action("Index")" class="btn btn-default waves-effect waves-light">
                                            <i class="fa fa-mail-reply m-r-5"></i> <span>Átras</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>