@model IEnumerable<PayPadAdministrator.Models.UserViewModel>

@{

    ViewBag.Title = "Usuarios Responsables";
}

<link href="~/Scripts/plugins/custombox/dist/custombox.min.css" rel="stylesheet">

<div class="row">
    <div class="col-sm-8">
        <a href="@Url.Action("CreateUserResponsible","Users")" class="btn btn-default btn-md waves-effect waves-light m-b-30"
           data-overlaySpeed="200" data-overlayColor="#36404a"><i class="md md-add"></i>Crear Responsable</a>
    </div>
    <div class="col-sm-4">
        
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-lg-4">
            <div class="card-box">
                <div class="contact-card">
                    <a class="pull-left" href="#">
                        @if (item.IMAGE != null)
                        {
                            var base64 = Convert.ToBase64String(item.IMAGE);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            <img class="img-circle" src="@imgSrc" alt="">
                        }

                    </a>
                    <div class="member-info">
                        <h4 class="m-t-0 m-b-5 header-title"><b>@Html.DisplayFor(modelItem => item.USERNAME)</b></h4>
                        <p class="text-muted">@Html.DisplayFor(modelItem => item.EMAIL)</p>
                        <p class="text-dark"><i class="md md-account-circle m-r-10"></i><small>@Html.DisplayFor(modelItem => item.NAME)</small></p>
                        <p class="text-dark"><i class="md md-business m-r-10"></i><small>@Html.DisplayFor(modelItem => item.CUSTOMER_NAME)</small></p>
                        <p class="text-dark"><i class="md md-business m-r-10"></i><small>@Html.DisplayFor(modelItem => item.ROL_NAME)</small></p>
                        <div class="contact-action">
                            <a href="#" class="btn btn-success btn-sm"><i class="md md-mode-edit"></i></a>
                            <a href="#" class="btn btn-danger btn-sm"><i class="md md-close"></i></a>
                        </div>
                    </div>

                    <ul class="social-links list-inline m-0">
                        <li>
                            <a title="Asignar Menú" data-placement="top" data-toggle="tooltip" class="tooltips" href="@Url.Action("AssingModuleToUser","Modules",new { userId = item.USER_ID})" data-original-title="Asignar menú"><i class="fa fa-list"></i></a>
                        </li>
                        <li>
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Detalle"><i class="fa fa-server"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div> <!-- end col -->
    }


</div>
