@model PayPadAdministrator.Models.RequestReport
@{
    ViewBag.Title = "Transacciones por Trámite";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="row">
                <div class="form-horizontal">
                    <h4 class="m-t-0 header-title"><b>@ViewBag.Title</b></h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PayPadId, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("PayPadId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PayPadId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Rango de fechas</label>
                                <div class="col-sm-8">
                                    <div class="input-daterange input-group" id="date-range">
                                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @*<input type="text" class="form-control" name="start" />*@
                                        <span class="input-group-addon bg-custom b-0 text-white">A</span>
                                        @Html.EditorFor(model => model.FinishDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @*<input type="text" class="form-control" name="end" />*@
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-b-0">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="button" onclick="GenerateReport()" class="btn btn-info waves-effect waves-light">Generar</button>
                                    <button type="button" id="btnDownload" class="btn btn-info waves-effect waves-light">Descargar</button>
                                    <a href="javascript:history.back();" class="btn btn-default waves-effect waves-light">
                                        <i class="fa fa-mail-reply m-r-5"></i> <span>Átras</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row" id="transactionsDiv">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="row">
                <table data-toggle="table"
                       data-show-columns="false"
                       data-page-list="[5, 10, 20]"
                       data-page-size="5"
                       data-pagination="true"
                       data-show-pagination-switch="true"
                       id="tblTransactions"
                       class="table-bordered ">
                    <thead>
                        <tr>
                            <th data-field="numeropedido">Número Pedido</th>
                            <th data-field="fecha">Fecha</th>
                            <th data-field="fechaPago">Fecha Pago</th>
                            <th data-field="total">Total</th>
                            <th data-field="iva">IVA</th>
                            <th data-field="mediopago">Medio Pago</th>
                            <th data-field="estadoPago">estado Pago</th>
                            <th data-field="estadopedido">Estado Pedido</th>
                            <th data-field="identification">Idenfiticación</th>
                            <th data-field="nombrecliente">Nombre Cliente</th>
                            <th data-field="apellido">Apellido Cliente</th>
                            <th data-field="email">Email</th>
                            <th data-field="telefono">Telefono</th>
                            <th data-field="tipo">Tipo</th>
                            <th data-field="ticketId">TicketId</th>
                            <th data-field="codTransaccion">Cod Transacción</th>
                            <th data-field="ciclo">Ciclo</th>
                            <th data-field="banco">Banco</th>
                            <th data-field="campo1">Campo 1</th>
                            <th data-field="campo2">Campo 2</th>
                            <th data-field="campo3">Campo 3</th>
                            <th data-field="concepto">Concepto</th>
                        </tr>
                    </thead>
                    <tbody></tbody>

                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        window.onload = function(){
            $("#transactionsDiv").css("display", "none");
            $("#btnDownload").attr("disabled", "disabled");
        }

        $("#btnDownload").on("click", function (e) {
            e.preventDefault();
            var name = "Transaccion" + $("#StartDate").val() + "Hasta" + $("#FinishDate").val();
            name = name.replace(/ /g, "");
            $("#tblTransactions").table2excel({ filename: name });
        });

        $("#PayPadId").change(function(){
            var payPadId = $("#PayPadId").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetTransacts", "Generic")',
                dataType: 'json',
                data: {payPadId : payPadId},
                success: function (data) {
                    if (data.CodeError == 200) {
                        $.each(data.Data, function (i, data) {
                            $("#TransactId").append('<option value="'
                                + data.TRANSACTION_TYPE_ID + '">'
                                + data.DESCRIPTION + '</option>');
                        });
                    } else {
                        ModalMessageError("Error", data.Message);
                    }
                },
                error: function (ex) {
                    ModalMessageError("Error", 'Failed ' + ex.responseText);
                }
            });
        });

        function GenerateReport(){
            if($("#PayPadId").val() == "" || $("#PayPadId").val() =="0"){
                ModalMessageError("Error", "Debe seleccione un Pay +");
                return;
            }

            if($("#TransactId").val() == "" || $("#TransactId").val() =="0"){
                ModalMessageError("Error", "Debe seleccione un trámite");
                return;
            }

            if($("#StartDate").val() == "" || $("#FinishDate").val() == ""){
                ModalMessageError("Error", "Las fechas deben tener valor");
                return;
            }

            var request = {
                PayPadId:$("#PayPadId").val(),                
                DateStartString:$("#StartDate").val(),
                DateFinishString:$("#FinishDate").val(),
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetTransactionCM", "Generic")',
                dataType: 'json',
                data: request,
                success: function (data) {
                    if (data.CodeError == 200) {
                        FillTable(data);
                    } else {
                        ModalMessageError("Error", data.Message);
                        $("#transactionsDiv").css("display", "none");
                        $("#btnDownload").attr("disabled", "disabled");
                    }
                },
                error: function (ex) {
                    ModalMessageError("Error", 'Failed ' + ex.responseText);
                    $("#transactionsDiv").css("display", "none");
                    $("#btnDownload").attr("disabled", "disabled");
                }
            });
        }

        function FillTable(data) {
            var content = "";
            $.each(data.Data, function (i, data) {
                    content += "<tr>" +
                            "<td>" + data.DESCRIPTION + "</td>" +
                            "<td>" + data.DATE_BEGIN + "</td>" +
                            "<td>" + data.DATE_BEGIN + "</td>" +
                            "<td>" + data.TOTAL_AMOUNT + "</td>" +
                            "<td>0.00</td>" +
                            "<td></td>" +
                            "<td>" + data.STATE_TRANSACTION + "</td>" +
                            "<td></td>" +
                            "<td>" + data.PAYED_IDENTIFICATION + "</td>" +
                            "<td>" + data.PAYED_NAME + "</td>" +
                            "<td>" + data.PAYED_LAST_NAME + "</td>" +
                            "<td>" + data.PAYED_EMAIL + "</td>" +
                            "<td>" + data.PAYED_PHONE + "</td>" +
                            "<td></td>" +
                            "<td>" + data.TRANSACTION_ID + "</td>" +
                            "<td>" + data.TRANSACTION_ID + "</td>" +
                            "<td></td>" +
                            "<td>" + data.PAYPAD_NAME + "</td>" +
                            "<td></td>" +
                            "<td></td>" +
                            "<td></td>" +
                            "<td>" + data.TRANSACT + "</td>" +                            
                            "</tr>";
            });

            $("#btnDownload").removeAttr("disabled");
            $("#transactionsDiv").css("display", "block");
            $("#tblTransactions tbody").html(content);
        }
    </script>
}


