@model PayPlusModels.RequestReport
@{
    ViewBag.Title = "Transacciones por Trámite";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="row">
                <div class="form-horizontal">
                    <h4 class="m-t-0 header-title"><b>@ViewBag.Title</b></h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PayPadId, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("PayPadId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PayPadId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Rango de fechas</label>
                                <div class="col-sm-8">
                                    <div class="input-daterange input-group" id="date-range">
                                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @*<input type="text" class="form-control" name="start" />*@
                                        <span class="input-group-addon bg-custom b-0 text-white">A</span>
                                        @Html.EditorFor(model => model.FinishDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @*<input type="text" class="form-control" name="end" />*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.TransactId, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("TransactId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TransactId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group m-b-0">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="button" onclick="GenerateReport()" class="btn btn-info waves-effect waves-light">Generar</button>                                    
                                    <a href="javascript:history.back();" class="btn btn-default waves-effect waves-light">
                                        <i class="fa fa-mail-reply m-r-5"></i> <span>Átras</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row" id="transactionsDiv">
    <div class="col-md-12">
        <div class="card-box">
            <div class="row">
                <table 
                       id="tblTransactions"
                       class="table-bordered display nowrap">
                    <thead>
                        <tr>
                            <th>TransactionId</th>
                            <th>Pay+</th>
                            <th>Trámites</th>
                            <th>Fecha de inicio</th>
                            <th>Fecha final</th>
                            <th>Total</th>
                            <th>Total ingresado</th>
                            <th>Total devuelto</th>
                            <th>Estado</th>
                            <th>Descripcion</th>                            
                            <th>Administración</th>                            
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var datetable = "";

        window.onload = function(){
            $("#transactionsDiv").css("display", "none");
            $("#btnDownload").attr("disabled", "disabled");
            datetable = $('#tblTransactions').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'csv', 'excel', 'pdf', 'print'
                ]
            });
        }

        $("body").on("click", "a.dialog-window", null, function (e) {
            e.preventDefault();
            var $link = $(this);
            var title = "Detalle de transacción";
            $('#Details .modal-title').html(title);
            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#Details').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#Details .te').html(data);
                    $('#Details').modal();
                }).success(function () { $('input:text:visible:first').focus(); });

            }
        });

        $("#PayPadId").change(function () {
            var payPadId = $("#PayPadId").val();
            $("#TransactId").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetTransacts", "Generic")',
                dataType: 'json',
                data: {payPadId : payPadId},
                success: function (data) {
                    if (data.CodeError == 200) {
                        $.each(data.Data, function (i, data) {
                            $("#TransactId").append('<option value="'
                                + data.TRANSACTION_TYPE_ID + '">'
                                + data.DESCRIPTION + '</option>');
                        });
                    } else {
                        ModalMessageError("Error", data.Message);
                    }
                },
                error: function (ex) {
                    ModalMessageError("Error", 'Failed ' + ex.responseText);
                }
            });
        });

        function GenerateReport(){
            if($("#PayPadId").val() == "" || $("#PayPadId").val() =="0"){
                ModalMessageError("Error", "Debe seleccione un Pay +");
                return;
            }

            if($("#TransactId").val() == "" || $("#TransactId").val() =="0"){
                ModalMessageError("Error", "Debe seleccione un trámite");
                return;
            }

            if($("#StartDate").val() == "" || $("#FinishDate").val() == ""){
                ModalMessageError("Error", "Las fechas deben tener valor");
                return;
            }

            var request = {
                PayPadId:$("#PayPadId").val(),
                TransactId:$("#TransactId").val(),
                DateStartString:$("#StartDate").val(),
                DateFinishString:$("#FinishDate").val(),
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetTransactionForTransact", "Generic")',
                dataType: 'json',
                data: request,
                success: function (data) {        
                    if (data.CodeError == 200) {
                        FillTable(data);
                    } else {
                        ModalMessageError("Error", data.Message);
                        $("#transactionsDiv").css("display", "none");
                        $("#btnDownload").attr("disabled", "disabled");    
                    }
                },
                error: function (ex) {
                    ModalMessageError("Error", 'Failed ' + ex.responseText);
                    $("#transactionsDiv").css("display", "none");
                    $("#btnDownload").attr("disabled", "disabled");                    
                }
            });
        }

        function FillTable(data) {
            datetable.clear().draw();

            $.each(data.Data, function (i, data) {

                var text = "info";
                if (data.STATE_TRANSACTION == "Aprobada") {
                    text = "success";
                } else if (data.STATE_TRANSACTION == "Cancelada") {
                    text = "danger";
                }

                var state = "<span class='label label-" + text + "'>" + data.STATE_TRANSACTION + "</span>";
                var admin = "<a href='/Reports/GetDetailsFromTransactions/" + data.TRANSACTION_ID + "'" +
                    "data-placement='top' data-toggle='tooltip' class='tooltips dialog-window' data-original-title='Detalle'>" +
                    "<i class='fa fa-server'></i>" +
                    "</a> " +
                    " <a href = '/Reports/GetVideo?transactionId=" + data.TRANSACTION_ID + "'" +
                    "data-placement='top' data-toggle='tooltip' class='tooltips dialog-window' data-original-title='Video'>" +
                    "<i class='fa fa-video-camera'></i>" +
                    "</a>";

                datetable.row.add([
                    data.TRANSACTION_ID,
                    data.PAYPAD_NAME,
                    data.TRANSACT,
                    ConvertDateV2(data.DATE_BEGIN),
                    ConvertDateV2(data.DATE_END),
                    data.TOTAL_AMOUNT,
                    data.INCOME_AMOUNT,
                    data.RETURN_AMOUNT,
                    state,
                    data.DESCRIPTION,
                    admin
                ]).draw(false);


            });

            $("#btnDownload").removeAttr("disabled");
            $("#transactionsDiv").css("display", "block");
            //$("#tblTransactions tbody").html(content);

        }
    </script>
}


    <div class="modal fade" id="Details" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog" style="width: 970px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body"><div class="te">Please wait...</div></div>
            </div>
        </div>
    </div>