@model PayPadAdministrator.Models.RequestReport
@{
    ViewBag.Title = "Transacciones por Trámite";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="row">
                <div class="form-horizontal">
                    <h4 class="m-t-0 header-title"><b>@ViewBag.Title</b></h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PayPadId, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("PayPadId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PayPadId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Rango de fechas</label>
                                <div class="col-sm-8">
                                    <div class="input-daterange input-group" id="date-range">
                                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @*<input type="text" class="form-control" name="start" />*@
                                        <span class="input-group-addon bg-custom b-0 text-white">A</span>
                                        @Html.EditorFor(model => model.FinishDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @*<input type="text" class="form-control" name="end" />*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.TransactId, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.DropDownList("TransactId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TransactId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group m-b-0">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="button" onclick="GenerateReport()" class="btn btn-info waves-effect waves-light">Generar</button>
                                    <button type="button" id="btnDownload" class="btn btn-info waves-effect waves-light">Descargar</button>
                                    <a href="javascript:history.back();" class="btn btn-default waves-effect waves-light">
                                        <i class="fa fa-mail-reply m-r-5"></i> <span>Átras</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row" id="transactionsDiv">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="row">
                <table 
                       id="tblTransactions"
                       class="table-bordered display nowrap">
                    <thead>
                        <tr>
                            <th>TransactionId</th>
                            <th>Pay+</th>
                            <th>Trámites</th>
                            <th>Fecha de inicio</th>
                            <th>Fecha final</th>
                            <th>Total</th>
                            <th>Total ingresado</th>
                            <th>Total devuelto</th>
                            <th>Estado</th>
                            <th>Descripcion</th>                            
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var datetable = "";

        window.onload = function(){
            $("#transactionsDiv").css("display", "none");
            $("#btnDownload").attr("disabled", "disabled");
            datetable = $('#tblTransactions').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'csv', 'excel', 'pdf', 'print'
                ]
            });
        }

        $("#btnDownload").on("click", function (e) {
            e.preventDefault();
            var name = "Transaccion" + $("#StartDate").val() + "Hasta" + $("#FinishDate").val();
            name = name.replace(/ /g, "");

            $("#tblTransactions th").each(function () {
                // first copy the attributes to remove
                // if we don't do this it causes problems
                // iterating over the array we're removing
                // elements from
                var attributes = $.map(this.attributes, function (item) {
                    return item.name;
                });

                // now use jQuery to remove the attributes
                var img = $(this);
                $.each(attributes, function (i, item) {
                    img.removeAttr(item);
                });
            });

            $("#tblTransactions").table2excel({ filename: name });

        });

        $("#PayPadId").change(function () {
            var payPadId = $("#PayPadId").val();
            $("#TransactId").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetTransacts", "Generic")',
                dataType: 'json',
                data: {payPadId : payPadId},
                success: function (data) {
                    if (data.CodeError == 200) {
                        $.each(data.Data, function (i, data) {
                            $("#TransactId").append('<option value="'
                                + data.TRANSACTION_TYPE_ID + '">'
                                + data.DESCRIPTION + '</option>');
                        });
                    } else {
                        ModalMessageError("Error", data.Message);
                    }
                },
                error: function (ex) {
                    ModalMessageError("Error", 'Failed ' + ex.responseText);
                }
            });
        });

        function GenerateReport(){
            if($("#PayPadId").val() == "" || $("#PayPadId").val() =="0"){
                ModalMessageError("Error", "Debe seleccione un Pay +");
                return;
            }

            if($("#TransactId").val() == "" || $("#TransactId").val() =="0"){
                ModalMessageError("Error", "Debe seleccione un trámite");
                return;
            }

            if($("#StartDate").val() == "" || $("#FinishDate").val() == ""){
                ModalMessageError("Error", "Las fechas deben tener valor");
                return;
            }

            var request = {
                PayPadId:$("#PayPadId").val(),
                TransactId:$("#TransactId").val(),
                DateStartString:$("#StartDate").val(),
                DateFinishString:$("#FinishDate").val(),
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetTransactionForTransact", "Generic")',
                dataType: 'json',
                data: request,
                success: function (data) {        
                    if (data.CodeError == 200) {
                        FillTable(data);
                    } else {
                        ModalMessageError("Error", data.Message);
                        $("#transactionsDiv").css("display", "none");
                        $("#btnDownload").attr("disabled", "disabled");    
                    }
                },
                error: function (ex) {
                    ModalMessageError("Error", 'Failed ' + ex.responseText);
                    $("#transactionsDiv").css("display", "none");
                    $("#btnDownload").attr("disabled", "disabled");                    
                }
            });
        }

        function FillTable(data) {
            datetable.clear().draw();

            $.each(data.Data, function (i, data) {
                datetable.row.add([
                    data.TRANSACTION_ID,
                    data.PAYPAD_NAME,
                    data.TRANSACT,
                    ConvertDateV2(data.DATE_BEGIN),
                    ConvertDateV2(data.DATE_END),
                    data.TOTAL_AMOUNT,
                    data.INCOME_AMOUNT,
                    data.RETURN_AMOUNT,
                    data.STATE_TRANSACTION,
                    data.DESCRIPTION
                ]).draw(false);
            });

            $("#btnDownload").removeAttr("disabled");
            $("#transactionsDiv").css("display", "block");
            //$("#tblTransactions tbody").html(content);

        }
    </script>
}


