@model PayPadAdministrator.Models.CurrencyDenominationViewModel

@{
    ViewBag.Title = string.Concat("Moneda ", Model.Currency.DESCRIPTION);
}

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>@ViewBag.Title</b></h4>
            <p class="text-muted font-18">
                <a href="@Url.Action("CreateDenominationForCurrency",new { id = Model.Currency.CURRENCY_ID})" class="btn btn-default waves-effect waves-light">
                    <i class="fa fa-plus-circle m-r-5"></i> <span>Crear Nuevo</span>
                </a>
                <a href="@Url.Action("Currencies")" class="btn btn-default waves-effect waves-light">
                    <i class="fa fa-mail-reply m-r-5"></i> <span>Átras</span>
                </a>
            </p>

            <table data-toggle="table"
                   data-show-columns="false"
                   data-page-list="[5, 10, 20]"
                   data-page-size="10"
                   data-pagination="true" data-show-pagination-switch="true" class="table-bordered ">
                <thead>
                    <tr>
                        <th data-field="id">
                            ID
                        </th>
                        <th data-field="Serial">
                            Logo
                        </th>
                        <th data-field="Name">
                            Valor
                        </th>
                        <th data-field="administrator" class="text-center">Adminitración</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Denominations)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CURRENCY_DENOMINATION_ID)
                            </td>
                            <td>
                                @if (item.IMAGE != null)
                                {
                                    var base64 = Convert.ToBase64String(item.IMAGE);
                                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                    <img src="@imgSrc" style="width:80px;" />
                                }

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VALUE)
                            </td>
                            <td>
                                <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="@Url.Action("EditDenominationForCurrency",new { id=item.CURRENCY_DENOMINATION_ID })"><i class="fa fa-edit fa-lg"></i></a>                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

